.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.header a {
  font-family: 'Tinos', serif;
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
  text-shadow: 2px 2px #40e0d0;
}

.message {
  font-family: 'Tinos', serif;
  font-size: 1.15em;
  margin: 0;
}

p {
  font-family: 'Tinos', serif;
  color: #111111;
}

.service {
  background-color: #EEE;
}

.github {
  display: block;
  width: 100%;
  max-height: 250px;
  padding: 15px;
}

.bases {
  width: 420px;
}

.footer {
  display: flex;
  text-align: center;
}

.footer a {
  text-decoration: none;
  text-shadow: 1px 1px #40e0d0;
  color: #000000;
}

.button {
  font-size: 1.15em;
  padding: 5px 20px;
}

.running-container {
  display: none;
}

.select-container {
  text-align: center;
  padding-bottom: 20px;
}

.cmd {
  background-color: black;
  color: white;
  padding: 10px;
}

#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: -75px 0 0 -75px;
  border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #40e0d0;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
