p {
  font-family: 'Tinos', serif;
  color: #111111;
}

.os {
  display: flex;
  width: 420px;
  border: 1px solid red;
  padding: 20px;
}

.github {
  display: block;
  width: 100%;
  max-height: 250px;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding: 0;
  border: 1px solid pink;
  align-items: center;
}

.nav {
  text-align: center;
}

.nav ul {
  list-style-type: none;
  margin: auto;
  text-align: center;
}

.nav li {
  margin-right: 10px;
  margin-left: 10px;
  display: inline;
}

.message {
  font-family: 'Tinos', serif;
  font-size: 1.15em;
  margin: 0;
}

.register {
  padding: 10px;
  text-align: center;
}

.header {
  text-align: center;
  font-family: 'Tinos', serif;
}

.header a {
  text-decoration: none;
  color: #000000;
  text-shadow: 2px 2px #40e0d0;
}

.destroying {
  display: block;
}

.running-container {
  display: none;
}

.loading {
  display: none;
}

.select-container {
  display: block;
}

.building {
  display: none;
}

#baseFlash {
  display: none;
  background-color: #449bc2;
  color: #ffffff;
}

#repoFlash {
  display: none;
  background-color: #449bc2;
  color: #ffffff;
}

#repoSuccess {
  display: none;
  background-color: darkgreen;
  color: #ffffff;
}

#userFlash {
  display: none;
}

#keyMsg {
  display: none;
}

.service {
  display: none;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

#keyMsgSuccess {
  display: none;
}

#userSuccess {
  display: none;
  color: #000000;
}

#username {
  color: #000000;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#loader {
  display: none;
  text-align: center;
