<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Containers on Demand</title>
    <link href="../static/styles/main.css" rel="stylesheet" type="text/css">
    <script src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/status.js"></script>
    <script src="../static/scripts/container.js"></script>
    <script src="../static/scripts/repo.js"></script>
    <script src="../static/scripts/display.js"></script>
  </head>
  <body>
    <div class="loading">Please hold...</div>
    <div class="destroying"></div>
    <div class="select-container">
    <p>Select a base:</p>
    <div id="baseFlash">Base required!</div>
    <form>
      <input type="radio" name="base" id="base" data-key="base"
      data-val="cod-ubuntu:14.04" required>
      Ubuntu:14.04<br>
      <input type="radio" name="base" id="base" data-key="base" data-val="cod-centos:6">
      CentOS:6<br>
      <label for="github-repo">GitHub Repo: </label>
      <input type="text" name="repo" id="repo-input">
      <button type="submit" id="repo">Import</button>
      <br>
      <div id="repoFlash">Invalid GitHub repository.</div>
      <div id="repoSuccess">GitHub repository imported. Click 'start'.</div>
      <input type="submit" id="start" value="Start">
    </form>
    </div>

    <div class="building", id="loader">
    </div>

    <div class="running-container">
      <h2>Your Container</h2>
      <ul id="running-container">
      </ul>
    </div>

    <button type="button" id="status-check" style="display: none">Check API</button>
  </body>
</html>
