<!DOCTYPE HTML>
<html>
  <head>
    <title>Containers on Demand</title>
    <link href="../static/styles/main.css" rel="stylesheet" type="text/css">
    <script src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/form.js"></script>
  </head>
  <body>
    <p>Select a container:</p>
    <form>
      <input type="radio" name="c-base" id="c-base" data-key="base"
      data-val="ubuntu-with-sshd:1">
      Ubuntu:14.04<br>
      <input type="radio" name="c-base" id="c-base" data-key="base" data-val="centos:6">
      CentOS:6<br>
      <input type="radio" name="c-base" id="c-base" data-key="base" data-val="alpine:3.7">
      Alpine:3.7<br>
      <label for="github-repo">GitHub Repo: </label>
      <input type="text" name="repo" id="repo-input">
      <button type="submit" id="repo">Import</button>
      <br>
      <input type="submit" id="start" value="Start">
    </form>
    <button type="button" id="status-check">Check API</button>
  </body>
</html>
